.jumbotron {
	text-align: center;
	background: none;
}
.section-light {
	background-color: #eceeef;
	padding: 2rem;
}

.section-dark {
	background-color: #cccccc;
	padding: 2rem;
}

.footer-img {
	padding: 15px;
}

.fa {
	margin: 10px;
}

.fa-github-square {
	color: white;
}

.fa-google {
	color: white;
}

.fa-twitter-square {
	color: white;
}

.socialwrapper {
	margin: auto;
}